{% extends 'base.html' %}
{% load static %}
{% block title %}Autores{% endblock %}
{% block description %}Acervo de Autores{% endblock %}
{% block keywords %}autores, literatura, informação{% endblock %}

{% block content %}
     <main class="flex-1 p-4 lg:p-8 overflow-y-auto">
      <div class="flex flex-col sm:flex-row justify-between items-center mb-6 lg:mb-8 gap-4">
        <h1 class="text-2xl lg:text-3xl font-bold text-gray-800">Autores</h1>
        <div class="flex flex-col sm:flex-row w-full sm:w-auto gap-3">
          <div class="relative w-full sm:w-auto">
          </div>
        </div>
      </div>
      
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 lg:gap-6">
        <a href="{% url 'core:autor_detail' slug='carlos-drummond' %}" class="block bg-white p-4 rounded shadow-md hover:shadow-lg transition duration-200 transform hover:-translate-y-1">
          <img src="{% static 'core/static/img/drummond.jpg' %}" alt="Carlos Drummond" class="w-full h-40 lg:h-48 object-cover rounded">
          <h2 class="text-center mt-4 text-lg font-semibold text-black">Carlos Drummond</h2>
          <p class="text-gray-600 text-sm text-center mt-2">Poeta Modernista</p>
        </a>
        
        <a href="{% url 'core:autor_detail' slug='joao-alphonsus' %}" class="block bg-white p-4 rounded shadow-md hover:shadow-lg transition duration-200 transform hover:-translate-y-1">
          <img src="{% static 'core/img/joao-alphonsus.jpg' %}" alt="João Alphonsus" class="w-full h-40 lg:h-48 object-cover rounded">
          <h2 class="text-center mt-4 text-lg font-semibold text-black">João Alphonsus</h2>
          <p class="text-gray-600 text-sm text-center mt-2">Escritor Mineiro</p>
        </a>
        
        <a href="{% url 'core:autor_detail' slug='emilio-moura' %}" class="block bg-white p-4 rounded shadow-md hover:shadow-lg transition duration-200 transform hover:-translate-y-1">
          <img src="{% static 'core/img/emilio-moura.jpg' %}" alt="Emílio Moura" class="w-full h-40 lg:h-48 object-cover rounded">
          <h2 class="text-center mt-4 text-lg font-semibold text-black">Emílio Moura</h2>
          <p class="text-gray-600 text-sm text-center mt-2">Poeta e Jornalista</p>
        </a>
        
        <a href="{% url 'core:autor_detail' slug='pedro-nava' %}" class="block bg-white p-4 rounded shadow-md hover:shadow-lg transition duration-200 transform hover:-translate-y-1">
          <img src="{% static 'core/img/pedro-nava.jpg' %}" alt="Pedro Nava" class="w-full h-40 lg:h-48 object-cover rounded">
          <h2 class="text-center mt-4 text-lg font-semibold text-black">Pedro Nava</h2>
          <p class="text-gray-600 text-sm text-center mt-2">Memorialista</p>
        </a>
        
        <a href="{% url 'core:autor_detail' slug='guimaraes-rosa' %}" class="block bg-white p-4 rounded shadow-md hover:shadow-lg transition duration-200 transform hover:-translate-y-1">
          <img src="{% static 'core/img/guimaraes-rosa.jpg' %}" alt="Guimarães Rosa" class="w-full h-40 lg:h-48 object-cover rounded">
          <h2 class="text-center mt-4 text-lg font-semibold text-black">Guimarães Rosa</h2>
          <p class="text-gray-600 text-sm text-center mt-2">Romancista</p>
        </a>
        
        <a href="{% url 'core:autor_detail' slug='fernando-sabino' %}" class="block bg-white p-4 rounded shadow-md hover:shadow-lg transition duration-200 transform hover:-translate-y-1">
          <img src="{% static 'core/img/fernando-sabino.jpg' %}" alt="Fernando Sabino" class="w-full h-40 lg:h-48 object-cover rounded">
          <h2 class="text-center mt-4 text-lg font-semibold text-black">Fernando Sabino</h2>
          <p class="text-gray-600 text-sm text-center mt-2">Cronista</p>
        </a>
        
        <a href="{% url 'core:autor_detail' slug='otto-lara' %}" class="block bg-white p-4 rounded shadow-md hover:shadow-lg transition duration-200 transform hover:-translate-y-1">
          <img src="{% static 'core/img/otto-lara.jpg' %}" alt="Otto Lara" class="w-full h-40 lg:h-48 object-cover rounded">
          <h2 class="text-center mt-4 text-lg font-semibold text-black">Otto Lara</h2>
          <p class="text-gray-600 text-sm text-center mt-2">Jornalista</p>
        </a>
        
        <a href="{% url 'core:autor_detail' slug='murilo-mendes' %}" class="block bg-white p-4 rounded shadow-md hover:shadow-lg transition duration-200 transform hover:-translate-y-1">
          <img src="{% static 'core/img/murilo-mendes.jpg' %}" alt="Murilo Mendes" class="w-full h-40 lg:h-48 object-cover rounded">
          <h2 class="text-center mt-4 text-lg font-semibold text-black">Murilo Mendes</h2>
          <p class="text-gray-600 text-sm text-center mt-2">Poeta Modernista</p>
        </a>
        
        <a href="{% url 'core:autor_detail' slug='affonso-avila' %}" class="block bg-white p-4 rounded shadow-md hover:shadow-lg transition duration-200 transform hover:-translate-y-1">
          <img src="{% static 'core/img/affonso-avila.jpg' %}" alt="Affonso Ávila" class="w-full h-40 lg:h-48 object-cover rounded">
          <h2 class="text-center mt-4 text-lg font-semibold text-black">Affonso Ávila</h2>
          <p class="text-gray-600 text-sm text-center mt-2">Ensaísta</p>
        </a>
        
        <a href="{% url 'core:autor_detail' slug='cyro-dos-anjos' %}" class="block bg-white p-4 rounded shadow-md hover:shadow-lg transition duration-200 transform hover:-translate-y-1">
          <img src="{% static 'core/img/cyro-dos-anjos.jpg' %}" alt="Cyro dos Anjos" class="w-full h-40 lg:h-48 object-cover rounded">
          <h2 class="text-center mt-4 text-lg font-semibold text-black">Cyro dos Anjos</h2>
          <p class="text-gray-600 text-sm text-center mt-2">Romancista</p>
        </a>
        
        <a href="{% url 'core:autor_detail' slug='wander-piroli' %}" class="block bg-white p-4 rounded shadow-md hover:shadow-lg transition duration-200 transform hover:-translate-y-1">
          <img src="{% static 'core/img/wander-piroli.jpg' %}" alt="Wander Piroli" class="w-full h-40 lg:h-48 object-cover rounded">
          <h2 class="text-center mt-4 text-lg font-semibold text-black">Wander Piroli</h2>
          <p class="text-gray-600 text-sm text-center mt-2">Contista</p>
        </a>
      </div>
{% endblock %}