{% extends 'base.html' %}
{% load static %}
{% block content %}
      <!-- pate que tem a image, do autor -->
      <div class="flex flex-col xl:flex-row gap-6 items-center xl:items-start">
        <img src="{% static 'img/joaoAlphonsus.jpg' %}" alt="Autor" class="w-90 h-60 md:w-52  object-cover border border-black-300 rounded lg:w-100 xl:w-150 ">
        <p class="text-justify text-sm md:text-base font-medium">
          Lorem Ipsum Dolor Sit Amet Consectetur. Lorem Sit In Nunc Consectetur Eu Sed Cursus. Et Vitae Dictum Quis Vulputate Vitae...
          Lorem Ipsum Dolor Sit Amet Consectetur. Lorem Sit In Nunc Consectetur Eu Sed Cursus. Et Vitae Dictum Quis Vulputate Vitae...
          Lorem Ipsum Dolor Sit Amet Consectetur. Lorem Sit In Nunc Consectetur Eu Sed Cursus. Et Vitae Dictum Quis Vulputate Vitae...
          Lorem Ipsum Dolor Sit Amet Consectetur. Lorem Sit In Nunc Consectetur Eu Sed Cursus. Et Vitae Dictum Quis Vulputate Vitae...
          Lorem Ipsum Dolor Sit Amet Consectetur. Lorem Sit In Nunc Consectetur Eu Sed Cursus. Et Vitae Dictum Quis Vulputate Vitae...
          Lorem Ipsum Dolor Sit Amet Consectetur. Lorem Sit In Nunc Consectetur Eu Sed Cursus. Et Vitae Dictum Quis Vulputate Vitae...
          Lorem Ipsum Dolor Sit Amet Consectetur. Lorem Sit In Nunc Consectetur Eu Sed Cursus. Et Vitae Dictum Quis Vulputate Vitae...
          Lorem Ipsum Dolor Sit Amet Consectetur. Lorem Sit In Nunc Consectetur Eu Sed Cursus. Et Vitae Dictum Quis Vulputate Vitae...
        </p>
      </div>

      <!-- Segundo parágrafo s img-->
      <p class="mt-6 text-justify text-sm md:text-base font-medium">
        Lorem Ipsum Dolor Sit Amet Consectetur. Lorem Sit In Nunc Consectetur Eu Sed Cursus...
        Lorem Ipsum Dolor Sit Amet Consectetur. Lorem Sit In Nunc Consectetur Eu Sed Cursus...
        Lorem Ipsum Dolor Sit Amet Consectetur. Lorem Sit In Nunc Consectetur Eu Sed Cursus...
        Lorem Ipsum Dolor Sit Amet Consectetur. Lorem Sit In Nunc Consectetur Eu Sed Cursus...
        Lorem Ipsum Dolor Sit Amet Consectetur. Lorem Sit In Nunc Consectetur Eu Sed Cursus...
                Lorem Ipsum Dolor Sit Amet Consectetur. Lorem Sit In Nunc Consectetur Eu Sed Cursus...
        Lorem Ipsum Dolor Sit Amet Consectetur. Lorem Sit In Nunc Consectetur Eu Sed Cursus...
        Lorem Ipsum Dolor Sit Amet Consectetur. Lorem Sit In Nunc Consectetur Eu Sed Cursus...
        Lorem Ipsum Dolor Sit Amet Consectetur. Lorem Sit In Nunc Consectetur Eu Sed Cursus...
        Lorem Ipsum Dolor Sit Amet Consectetur. Lorem Sit In Nunc Consectetur Eu Sed Cursus...
        Lorem Ipsum Dolor Sit Amet Consectetur. Lorem Sit In Nunc Consectetur Eu Sed Cursus...
        Lorem Ipsum Dolor Sit Amet Consectetur. Lorem Sit In Nunc Consectetur Eu Sed Cursus...
        Lorem Ipsum Dolor Sit Amet Consectetur. Lorem Sit In Nunc Consectetur Eu Sed Cursus...
                Lorem Ipsum Dolor Sit Amet Consectetur. Lorem Sit In Nunc Consectetur Eu Sed Cursus...
        Lorem Ipsum Dolor Sit Amet Consectetur. Lorem Sit In Nunc Consectetur Eu Sed Cursus...
        Lorem Ipsum Dolor Sit Amet Consectetur. Lorem Sit In Nunc Consectetur Eu Sed Cursus...

      </p>

      <!-- Bibliografia -->
      <section class="mt-8">
        <h2 class="text-lg font-bold mb-2">Bibliografia</h2>
        <ul class="list-disc list-inside space-y-1 text-sm md:text-base font-medium">
          <li>Lorem Ipsum Dolor Sit Amet Consectetur...</li>
          <li>Lorem Ipsum Dolor Sit Amet Consectetur...</li>
          <li>Lorem Ipsum Dolor Sit Amet Consectetur...</li>
          <li>Lorem Ipsum Dolor Sit Amet Consectetur...</li>
          <li>Lorem Ipsum Dolor Sit Amet Consectetur...</li>
        </ul>
      </section>

      <!-- Referências -->
      <section class="mt-6">
        <h2 class="text-lg font-bold mb-2">Referências</h2>
        <ul class="list-disc list-inside space-y-1 text-sm md:text-base font-medium">
          <li>Lorem Ipsum Dolor Sit Amet Consectetur...</li>
          <li>Lorem Ipsum Dolor Sit Amet Consectetur...</li>
          <li>Lorem Ipsum Dolor Sit Amet Consectetur...</li>
        </ul>
      </section>
    </main>
  </div>
{% endblock %}