{% extends 'base.html' %}
{% load static %}
{% block title %}
  Inicio
{% endblock %}
{% block description %}
  Pagina de Inicio
{% endblock %}
{% block keywords %}
  autores, literatura, informação, tempo, noticias, livros, fotos
{% endblock %}
{% block content %}
  <main class="flex-1 p-8 lg:p-12 space-y-12 max-w-screen-2xl mx-auto bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100">
    <!-- Principais Notícias -->
    <div class="max-w-10xl mx-auto">
      <h2 class="text-xl font-bold mb-4 text-center text-gray-900 dark:text-gray-100">Principais Notícias</h2>
      <div class="flex justify-center items-center h-full">
        <div class="relative overflow-hidden rounded-lg shadow-lg max-w-screen-2xl" style="height: 450px; width: 1100px;">
          <div id="carousel-container" class="flex transition-transform duration-1000 ease-in-out h-full">
            <!-- Slide 1 -->
            <div class="carousel-slide min-w-full relative">
              <img src="/api/placeholder/800/400" alt="Evento cultural" class="w-full h-full object-cover" />
              <div class="absolute top-5 left-5 bg-blue-600 text-white px-2 py-1 text-sm font-semibold rounded">EVENTO</div>
              <div class="absolute bottom-0 left-0 right-0 bg-black bg-opacity-70 p-4 text-white">
                <h2 class="text-xl font-bold mb-2">53º Festival de Inverno UFMG, que destacou o modernismo mineiro.</h2>
                <p class="text-sm">Evento reuniu artistas e pesquisadores em uma programação diversificada.</p>
              </div>
            </div>
            <!-- Slide 2 -->
            <div class="carousel-slide min-w-full relative">
              <img src="/api/placeholder/800/400" alt="Campus universitário" class="w-full h-full object-cover" />
              <div class="absolute top-5 left-5 bg-red-600 text-white px-2 py-1 text-sm font-semibold rounded">CAMPUS</div>
              <div class="absolute bottom-0 left-0 right-0 bg-black bg-opacity-70 p-4 text-white">
                <h2 class="text-xl font-bold mb-2">Novos espaços de convivência são inaugurados no museu de literatura</h2>
                <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing?</p>
              </div>
            </div>
            <!-- Slide 3 -->
            <div class="carousel-slide min-w-full relative">
              <img src="/api/placeholder/800/400" alt="Pesquisa científica" class="w-full h-full object-cover" />
              <div class="absolute top-5 left-5 bg-green-600 text-white px-2 py-1 text-sm font-semibold rounded">PESQUISA</div>
              <div class="absolute bottom-0 left-0 right-0 bg-black bg-opacity-70 p-4 text-white">
                <h2 class="text-xl font-bold mb-2">Grupo de pesquisa desenvolve nova tecnologia para catalogar artistas</h2>
                <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Introdução -->
    <section class="grid grid-cols-1 lg:grid-cols-2 gap-6">
      <img src="/img/modernismo.jpg" alt="Imagem sobre modernismo mineiro" class="w-full h-full bg-black object-cover rounded border border-gray-300 dark:border-gray-700" />
      <div>
        <h2 class="text-xl font-bold text-gray-900 dark:text-gray-100">Introdução ao Modernismo Mineiro</h2>
        <p class="text-sm mt-2 text-gray-800 dark:text-gray-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit accusamus quidem consequuntur quisquam dolore natus quasi laborum, mollitia nulla ipsa.</p>
      </div>
    </section>
    <!-- Imagens da semana -->
    <section>
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-xl font-bold text-center lg:text-left text-gray-900 dark:text-gray-100">Imagens em destaque</h2>
        <a href="{% url 'core:galeria' %}" class="text-blue-600 hover:text-blue-400 dark:text-blue-400 dark:hover:text-blue-600 text-md">Ver Mais</a>
      </div>
      <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-4 md:grid-cols-4 gap-6 justify-items-center">
        <img src="{% static 'img/cafeEstrela.jpg' %}" alt="Imagem da semana 1" class="w-full aspect-[3/4] bg-black rounded-lg object-cover border border-gray-300 dark:border-gray-700" />
        <img src="{% static 'img/arquivoPublico.jpg' %}" alt="Imagem da semana 2" class="w-full aspect-[3/4] bg-black rounded-lg object-cover border border-gray-300 dark:border-gray-700" />
        <img src="{% static 'img/fotoMinas.jpg' %}" alt="Imagem da semana 3" class="w-full aspect-[3/4] bg-black rounded-lg object-cover border border-gray-300 dark:border-gray-700" />
        <img src="{% static 'img/museuMineiro.jpg' %}" alt="Imagem da semana 4" class="w-full aspect-[3/4] bg-black rounded-lg object-cover border border-gray-300 dark:border-gray-700" />
      </div>
    </section>
    <!-- Obras da semana -->
    <section>
      <div class="flex justify-between items-center mb-4 mt-8">
        <h2 class="text-xl font-bold text-center lg:text-left text-gray-900 dark:text-gray-100">Obras em destaque</h2>
        <a href="{% url 'core:livros' %}" class="text-blue-600 hover:text-blue-400 dark:text-blue-400 dark:hover:text-blue-600 text-md">Ver Mais</a>
      </div>
      <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-4 md:grid-cols-4 gap-6 justify-items-center">
        <img src="{% static 'img/bauDeOssos.jpg' %}" alt="Obra da semana 1" class="w-full aspect-[3/4] bg-black rounded-lg object-cover border border-gray-300 dark:border-gray-700" />
        <img src="{% static 'img/brejaDasAlmas.jpg' %}" alt="Obra da semana 2" class="w-full aspect-[3/4] bg-black rounded-lg object-cover border border-gray-300 dark:border-gray-700" />
        <img src="{% static 'img/sentimentoDoMundo.jpg' %}" alt="Obra da semana 3" class="w-full aspect-[3/4] bg-black rounded-lg object-cover border border-gray-300 dark:border-gray-700" />
        <img src="{% static 'img/galinhaCega.jpg' %}" alt="Obra da semana 4" class="w-full aspect-[3/4] bg-black rounded-lg object-cover border border-gray-300 dark:border-gray-700" />
      </div>
    </section>
    <!-- Linha do tempo -->
    <h2 class="text-xl font-bold mb-4 text-center text-gray-900 dark:text-gray-100">Linha do Tempo</h2>
    <section class="flex items-center gap-4 px-6 relative" id="timeline">
      <div class="h-2 w-full bg-gray-300 dark:bg-gray-700 flex items-center justify-between relative">
        <div class="timeline-dot w-5 h-5 bg-[#071b74] rounded-full hover:scale-110 transition-transform duration-200 cursor-pointer" title="1922" aria-label="1922" data-event="1"></div>
        <div class="timeline-dot w-5 h-5 bg-[#071b74] rounded-full hover:scale-110 transition-transform duration-200 cursor-pointer" title="1930" aria-label="1930" data-event="2"></div>
        <div class="timeline-dot w-5 h-5 bg-[#071b74] rounded-full hover:scale-110 transition-transform duration-200 cursor-pointer" title="1942" aria-label="1942" data-event="3"></div>
        <div class="timeline-dot w-5 h-5 bg-[#071b74] rounded-full hover:scale-110 transition-transform duration-200 cursor-pointer" title="1950" aria-label="1950" data-event="4"></div>
      </div>
      <div id="event-card" class="absolute bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-600 shadow-lg p-4 rounded-lg text-sm z-50 max-w-xs invisible opacity-0 transition-all duration-300"></div>
    </section>
  </main>
  <style>
    #event-card.active {
      visibility: visible;
      opacity: 1;
    }
  </style>
{% endblock %}
