{% extends 'base.html' %}
{% load static %}
{% block title %}
  Inicio
{% endblock %}
{% block description %}
  Pagina de Inicio
{% endblock %}
{% block keywords %}
  autores, literatura, informação, tempo, noticias, livros, fotos
{% endblock %}
{% block content %}
<main class="flex-1 p-4 sm:p-6 lg:p-12 space-y-12 max-w-screen-2xl mx-auto">

  <!-- Principais Notícias -->
  <div class="w-full">
    <h2 class="text-xl font-bold mb-4 text-center text-gray-900 dark:text-gray-100">Principais Notícias</h2>
    <div class="relative overflow-hidden rounded-lg shadow-lg w-full h-[250px] sm:h-[350px] md:h-[450px]">
      <div id="carousel-container" class="flex transition-transform duration-1000 ease-in-out h-full w-full">
        <!-- Slide 1 -->
        <div class="carousel-slide min-w-full relative">
          <img src="{% static 'img/ufmg.webp' %}" alt="Evento cultural" class="w-full h-full object-cover" />
          <div class="absolute top-4 left-4 bg-blue-600 text-white px-2 py-1 text-sm font-semibold rounded">EVENTO</div>
          <div class="absolute bottom-0 left-0 right-0 bg-black bg-opacity-70 p-4 text-white">
            <h2 class="text-lg sm:text-xl font-bold mb-2">53º Festival de Inverno UFMG, que destacou o modernismo mineiro.</h2>
            <p class="text-sm">Evento reuniu artistas e pesquisadores em uma programação diversificada.</p>
          </div>
        </div>
        <!-- Slide 2 -->
        <div class="carousel-slide min-w-full relative">
          <img src="{% static 'img/homemDeMascara.webp' %}" alt="Campus universitário" class="w-full h-full object-cover" />
          <div class="absolute top-4 left-4 bg-red-600 text-white px-2 py-1 text-sm font-semibold rounded">CAMPUS</div>
          <div class="absolute bottom-0 left-0 right-0 bg-black bg-opacity-70 p-4 text-white">
            <h2 class="text-lg sm:text-xl font-bold mb-2">Mostra destaca a influência do Modernismo sobre o cinema mineiro</h2>
            <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing?</p>
          </div>
        </div>
        <!-- Slide 3 -->
        <div class="carousel-slide min-w-full relative">
          <img src="{% static 'img/cefetmg.webp' %}" alt="Pesquisa científica" class="w-full h-full object-cover" />
          <div class="absolute top-4 left-4 bg-green-600 text-white px-2 py-1 text-sm font-semibold rounded">PESQUISA</div>
          <div class="absolute bottom-0 left-0 right-0 bg-black bg-opacity-70 p-4 text-white">
            <h2 class="text-lg sm:text-xl font-bold mb-2">Grupo de pesquisa desenvolve nova tecnologia para catalogar artistas</h2>
            <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Introdução ao Modernismo Mineiro -->
  <section class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
    <div class="w-full">
      <img src="{% static 'img/homemsTrabalhando.png' %}" alt="Imagem sobre modernismo mineiro"
           class="w-full aspect-[4/3] object-cover rounded-xl border border-gray-300 dark:border-gray-700 shadow-xl" />
    </div>
    <div>
      <h2 class="text-2xl font-bold text-gray-900 dark:text-gray-100 mb-4">Introdução ao Modernismo Mineiro</h2>
      <p class="text-base text-gray-800 dark:text-gray-300 leading-relaxed">
        No início no século XX, o modernismo mineiro através de influências de Mário de Andrade com sua visita a Minas Gerais em 1919 e notícias que chegavam à região mineira. Jovens estudiosos das áreas principalmente de Direito vinham para Belo Horizonte, capital mineira, em busca de um aprofundamento em seus conhecimentos e aprimoramento de suas técnicas de escritas já que aqui se situava a antiga Universidade de Minas Gerais, hoje UFMG que sempre possuiu grande prestígio entre as faculdades.<br><br>
        É somente por volta de 1923 que o grupo começa a realmente se formar e se estabelecer como a 1ª Geração do Modernismo. Autores como João Alphonsus, Carlos Drummond, Pedro Nava e outros começaram a trabalhar no jornal Estado de Minas. Enquanto se dá essa formação e conceitualização, em Cataguases surge a revista Verde que começa a crescer as sombras do grupo da capital com autores como Enrique Resende, Ascânio Lopes, Rosário Fusco.<br><br>
        Já em 1929 surge o grupo “Leite Criôlo”, com surgimento tardio mas ainda caracterizado como da 1ª Geração do Modernismo Mineiro, esse grupo trouxe novos focos e novas ideias para a Literatura da época. Vale mencionar autores como: João Dornas Filho, Guilhermino César, etc.
      </p>
    </div>
  </section>

  <!-- Imagens em destaque -->
  <section>
    <div class="flex flex-col sm:flex-row sm:justify-between items-center mb-4 gap-2">
      <h2 class="text-xl font-bold text-center sm:text-left text-gray-900 dark:text-gray-100">Imagens em destaque</h2>
      <a href="{% url 'core:galeria' %}" class="text-blue-600 hover:text-blue-400 dark:text-blue-400 dark:hover:text-blue-600 text-md">Ver Mais</a>
    </div>
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
      <img src="{% static 'img/cafeEstrela.jpg' %}" alt="Imagem da semana 1"
           class="w-full aspect-[3/4] rounded-lg object-cover border border-gray-300 dark:border-gray-700" />
      <img src="{% static 'img/arquivoPublico.jpg' %}" alt="Imagem da semana 2"
           class="w-full aspect-[3/4] rounded-lg object-cover border border-gray-300 dark:border-gray-700" />
      <img src="{% static 'img/fotoMinas.jpg' %}" alt="Imagem da semana 3"
           class="w-full aspect-[3/4] rounded-lg object-cover border border-gray-300 dark:border-gray-700" />
      <img src="{% static 'img/museuMineiro.jpg' %}" alt="Imagem da semana 4"
           class="w-full aspect-[3/4] rounded-lg object-cover border border-gray-300 dark:border-gray-700" />
    </div>
  </section>

  <!-- Obras em destaque -->
  <section>
    <div class="flex flex-col sm:flex-row sm:justify-between items-center mb-4 mt-8 gap-2">
      <h2 class="text-xl font-bold text-center sm:text-left text-gray-900 dark:text-gray-100">Obras em destaque</h2>
      <a href="{% url 'core:livros' %}" class="text-blue-600 hover:text-blue-400 dark:text-blue-400 dark:hover:text-blue-600 text-md">Ver Mais</a>
    </div>
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
      <img src="{% static 'img/bauDeOssos.jpg' %}" alt="Obra da semana 1"
           class="w-full aspect-[3/4] rounded-lg object-cover border border-gray-300 dark:border-gray-700" />
      <img src="{% static 'img/brejaDasAlmas.jpg' %}" alt="Obra da semana 2"
           class="w-full aspect-[3/4] rounded-lg object-cover border border-gray-300 dark:border-gray-700" />
      <img src="{% static 'img/sentimentoDoMundo.jpg' %}" alt="Obra da semana 3"
           class="w-full aspect-[3/4] rounded-lg object-cover border border-gray-300 dark:border-gray-700" />
      <img src="{% static 'img/galinhaCega.jpg' %}" alt="Obra da semana 4"
           class="w-full aspect-[3/4] rounded-lg object-cover border border-gray-300 dark:border-gray-700" />
    </div>
  </section>

  <!-- Linha do Tempo -->
  <h2 class="text-2xl font-bold mb-6 text-center text-gray-900 dark:text-gray-100">Linha do Tempo</h2>
  <section id="timeline" class="relative px-4 sm:px-6 py-8">
    <div class="h-2 bg-gray-300 dark:bg-gray-500 rounded-full relative flex items-center justify-between px-8">
      <div class="timeline-dot w-6 h-6 bg-blue-900 dark:bg-blue-300 rounded-full hover:scale-110 transition-transform cursor-pointer" title="1922" data-event="1"></div>
      <div class="timeline-dot w-6 h-6 bg-blue-900 dark:bg-blue-300 rounded-full hover:scale-110 transition-transform cursor-pointer" title="1930" data-event="2"></div>
      <div class="timeline-dot w-6 h-6 bg-blue-900 dark:bg-blue-300 rounded-full hover:scale-110 transition-transform cursor-pointer" title="1942" data-event="3"></div>
      <div class="timeline-dot w-6 h-6 bg-blue-900 dark:bg-blue-300 rounded-full hover:scale-110 transition-transform cursor-pointer" title="1950" data-event="4"></div>
      <div class="timeline-dot w-6 h-6 bg-blue-900 dark:bg-blue-300 rounded-full hover:scale-110 transition-transform cursor-pointer" title="1964" data-event="5"></div>
      <div class="timeline-dot w-6 h-6 bg-blue-900 dark:bg-blue-300 rounded-full hover:scale-110 transition-transform cursor-pointer" title="1985" data-event="6"></div>
      <div class="timeline-dot w-6 h-6 bg-blue-900 dark:bg-blue-300 rounded-full hover:scale-110 transition-transform cursor-pointer" title="2000" data-event="7"></div>
      <div class="timeline-dot w-6 h-6 bg-blue-900 dark:bg-blue-300 rounded-full hover:scale-110 transition-transform cursor-pointer" title="2022" data-event="8"></div>
    </div>
    <div id="event-card"
         class="invisible opacity-0 absolute bg-white dark:bg-gray-500 border border-gray-300 dark:border-gray-400 text-gray-800 dark:text-gray-100 shadow-xl p-5 rounded-xl text-sm z-50 max-w-xs transition-all duration-300 pointer-events-none">
    </div>
  </section>

  <style>
    #event-card.active {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }
  </style>

</main>
{% endblock %}
