{% extends 'base.html' %}
{% load static %}
{% block title %}Acervo de Livros{% endblock %}
{% block description %}Nosso Acervo de Livros do modernismo mineiro{% endblock %}
{% block keywords %}Noticias,Literatura,Informacao{% endblock %}
{% block content %}
<body class="bg-gray-100 dark:bg-gray-900 py-10 px-4 text-gray-900 dark:text-gray-100">
<!--config basica da pag-->
<div class="max-w-6xl mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8">
<div class="bg-white dark:bg-gray-800 rounded-lg shadow-md overflow-hidden
border-solid">
<div class="h-48 bg-gray-200 dark:bg-gray-700 flex items-center justify-center">
<span class="text-gray-400 dark:text-gray-500 text-4xl"></span>
</div>
<div class="p-4">
<p class="text-sm text-gray-600 dark:text-gray-400">Autor</p>
<h3 class="font-semibold text-black dark:text-gray-100">Título </h3>
<p class="text-sm text-gray-400 dark:text-gray-500">Data de publi</p>
</div>
</div>
<div class="bg-white dark:bg-gray-800 rounded-lg shadow-md overflow-hidden
border-solid">
<div class="h-48 bg-gray-200 dark:bg-gray-700 flex items-center justify-center">
<span class="text-gray-400 dark:text-gray-500 text-4xl"></span>
</div>
<div class="p-4">
<p class="text-sm text-gray-600 dark:text-gray-400">Autor</p>
<h3 class="font-semibold text-black dark:text-gray-100">Título </h3>
<p class="text-sm text-gray-400 dark:text-gray-500">Data de publi</p>
</div>
</div>
<div class="bg-white dark:bg-gray-800 rounded-lg shadow-md overflow-hidden
border-solid">
<div class="h-48 bg-gray-200 dark:bg-gray-700 flex items-center justify-center">
<span class="text-gray-400 dark:text-gray-500 text-4xl"></span>
</div>
<div class="p-4">
<p class="text-sm text-gray-600 dark:text-gray-400">Autor</p>
<h3 class="font-semibold text-black dark:text-gray-100">Título </h3>
<p class="text-sm text-gray-400 dark:text-gray-500">Data de publi</p>
</div>
</div>
<div class="bg-white dark:bg-gray-800 rounded-lg shadow-md overflow-hidden
border-solid">
<div class="h-48 bg-gray-200 dark:bg-gray-700 flex items-center justify-center">
<span class="text-gray-400 dark:text-gray-500 text-4xl"></span>
</div>
<div class="p-4">
<p class="text-sm text-gray-600 dark:text-gray-400">Autor</p>
<h3 class="font-semibold text-black dark:text-gray-100">Título </h3>
<p class="text-sm text-gray-400 dark:text-gray-500">Data de publi</p>
</div>
</div>
<div class="bg-white dark:bg-gray-800 rounded-lg shadow-md overflow-hidden
border-solid">
<div class="h-48 bg-gray-200 dark:bg-gray-700 flex items-center justify-center">
<span class="text-gray-400 dark:text-gray-500 text-4xl"></span>
</div>
<div class="p-4">
<p class="text-sm text-gray-600 dark:text-gray-400">Autor</p>
<h3 class="font-semibold text-black dark:text-gray-100">Título </h3>
<p class="text-sm text-gray-400 dark:text-gray-500">Data de publi</p>
</div>
</div>
<div class="bg-white dark:bg-gray-800 rounded-lg shadow-md overflow-hidden
border-solid">
<div class="h-48 bg-gray-200 dark:bg-gray-700 flex items-center justify-center">
<span class="text-gray-400 dark:text-gray-500 text-4xl"></span>
</div>
<div class="p-4">
<p class="text-sm text-gray-600 dark:text-gray-400">Autor</p>
<h3 class="font-semibold text-black dark:text-gray-100">Título </h3>
<p class="text-sm text-gray-400 dark:text-gray-500">Data de publi</p>
</div>
</div>
<!-- caixa de livros (comeca aq)-->
<div class="bg-white dark:bg-gray-800 rounded-lg shadow-md overflow-hidden
border-solid">
<div class="h-48 bg-gray-200 dark:bg-gray-700 flex items-center justify-center">
<span class="text-gray-400 dark:text-gray-500 text-4xl"></span>
</div>
<div class="p-4">
<p class="text-sm text-gray-600 dark:text-gray-400">Autor</p>
<h3 class="font-semibold text-black dark:text-gray-100">Título </h3>
<p class="text-sm text-gray-400 dark:text-gray-500">Data de publi</p>
</div>
</div>
<!--termina aq-->
<div class="bg-white dark:bg-gray-800 rounded-lg shadow-md overflow-hidden">
<div class="h-48 bg-gray-200 dark:bg-gray-700 flex items-center justify-center">
<span class="text-gray-400 dark:text-gray-500 text-4xl"></span>
</div>
<div class="p-4">
<p class="text-sm text-gray-600 dark:text-gray-400">Autor</p>
<h3 class="font-semibold text-black dark:text-gray-100">Título</h3>
<p class="text-sm text-gray-400 dark:text-gray-500">Data de publi</p>
</div>
</div>
<div class="bg-white dark:bg-gray-800 rounded-lg shadow-md overflow-hidden">
<div class="h-48 bg-gray-200 dark:bg-gray-700 flex items-center justify-center">
<span class="text-gray-400 dark:text-gray-500 text-4xl"></span>
</div>
<div class="p-4">
<p class="text-sm text-gray-600 dark:text-gray-400">Autor</p>
<h3 class="font-semibold text-black dark:text-gray-100">Título do Livro</h3>
<p class="text-sm text-gray-400 dark:text-gray-500">Data de publi</p>
</div>
</div>
<div class="bg-white dark:bg-gray-800 rounded-lg shadow-md overflow-hidden">
<div class="h-48 bg-gray-200 dark:bg-gray-700 flex items-center justify-center">
<span class="text-gray-400 dark:text-gray-500 text-4xl"></span>
</div>
<div class="p-4">
<p class="text-sm text-gray-600 dark:text-gray-400">Autor</p>
<h3 class="font-semibold text-black dark:text-gray-100">Títuloo</h3>
<p class="text-sm text-gray-400 dark:text-gray-500">Data de publi</p>
</div>
</div>
<div class="bg-white dark:bg-gray-800 rounded-lg shadow-md overflow-hidden">
<div class="h-48 bg-gray-200 dark:bg-gray-700 flex items-center justify-center">
<span class="text-gray-400 dark:text-gray-500 text-4xl"></span>
</div>
<div class="p-4">
<p class="text-sm text-gray-600 dark:text-gray-400">Autor</p>
<h3 class="font-semibold text-black dark:text-gray-100">Título </h3>
<p class="text-sm text-gray-400 dark:text-gray-500">Data de publi</p>
</div>
</div>
<div class="bg-white dark:bg-gray-800 rounded-lg shadow-md overflow-hidden">
<div class="h-48 bg-gray-200 dark:bg-gray-700 flex items-center justify-center">
<span class="text-gray-400 dark:text-gray-500 text-4xl"></span>
</div>
<div class="p-4">
<p class="text-sm text-gray-600 dark:text-gray-400">Autor</p>
<h3 class="font-semibold text-black dark:text-gray-100">Título</h3>
<p class="text-sm text-gray-400 dark:text-gray-500">Data da publi</p>
</div>
</div>
<br>
</div>
<nav aria-label="Page navigation example flex items-center justify-center ">
<ul class="flex items-center justify-center space-x-px h-10 text-base ">
<li>
<a href="#" class="flex items-center justify-center px-4 h-10 ms-0 leading-tight
text-gray-500 bg-white dark:bg-gray-800 border border-e-0 border-gray-300
dark:border-gray-700 rounded-s-lg hover:bg-gray-100 dark:hover:bg-gray-700
hover:text-gray-700 dark:hover:text-white">
<span class="sr-only">Previous</span>
<svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true"
xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
stroke-width="2" d="M5 1 1 5l4 4"/>
</svg>
</a>
</li>
<li>
<a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500
bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 hover:bg-gray-100
dark:hover:bg-gray-700 hover:text-gray-700 dark:hover:text-white">1</a>
</li>
<li>
<a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500
bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 hover:bg-gray-100
dark:hover:bg-gray-700 hover:text-gray-700 dark:hover:text-white">2</a>
</li>
<li>
<a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500
bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 hover:bg-gray-100
dark:hover:bg-gray-700 hover:text-gray-700 dark:hover:text-white">3</a>
</li>
<li>
<a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500
bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 hover:bg-gray-100
dark:hover:bg-gray-700 hover:text-gray-700 dark:hover:text-white">4</a>
</li>
<li>
<a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500
bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 hover:bg-gray-100
dark:hover:bg-gray-700 hover:text-gray-700 dark:hover:text-white">5</a>
</li>
<li>
<a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500
bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 rounded-e-lg
hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-gray-700 dark:hover:text-white">
<span class="sr-only">Next</span>
<svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true"
xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
stroke-width="2" d="m1 9 4-4-4-4"/>
</svg>
</a>
</li>
</ul>
</nav>
</body>
</html>
{% endblock %}