{% extends 'base.html' %}
{% load static %}
{% block title %}Revistas{% endblock %}
{% block description %}Revistas do Modernismo Mineiro{% endblock %}
{% block keywords %}Noticias,Literatura,Informacao{% endblock %}
{% block content %}

 <!-- Lista de notícias -->
 <div class="space-y-4">
    <!-- Item de notícia -->
    <div class="flex items-center bg-white rounded shadow-lg overflow-hidden border-1 xl:pr-50 hover:bg-gray-400 ">
      <div class="w-24 h-24 bg-gray-200 "alt="Img da noti"></div>
      <div class="flex-1 p-4">
        
        <h2 class="text-base font-bold ">
          O Modernismo Mineiro
        </h2>
        <!--data-->
        <p class="text-sm text-gray-600">06/05/2008</p>
      </div>
    </div>

{% endblock %}